*
!src
!src/plugins
!src/plugins/telnetoverxmpp**
!src/translations
!src/translations/de
!src/translations/de/telnetoverxmpp*
!src/translations/en
!src/translations/en/telnetoverxmpp*
!src/translations/ja
!src/translations/ja/telnetoverxmpp*
!src/translations/pl
!src/translations/pl/telnetoverxmpp*
!src/translations/ru
!src/translations/ru/telnetoverxmpp*
!src/translations/uk
!src/translations/uk/telnetoverxmpp*
!resources
!resources/menuicons
!resources/menuicons/shared
!resources/menuicons/shared/telnetoverxmpp*
!.gitignore
